
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


body{
    background-color: rgb(255, 224, 238);
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 1rem;
    min-height: 100vh;

}
.container{

    background-color: rgb(255, 183, 207);
    border-radius: 7%;
    min-height: 10rem;
    min-width: 15rem;
    padding: 1rem;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
    text-align: center;
    
    font-family: Fredoka;
}


.deleteButton{
    background-color: transparent;
    color: rgb(110, 40, 65);
    border: 0cap;
    width: 24px;
    height: 24px;

    border-radius: 100%;
    transition: 0.1s;
    

}
.deleteButton:hover{
    
    cursor: pointer;
    color: rgb(80, 25, 45);
    transform: scale(1.1);
    background-color: rgb(239, 143, 170);

}
#task-list{
    list-style: none;
   
    
    

}
#task-list:hover{
   
    cursor: pointer;
}


#task-input{
    background-color: rgb(255, 241, 246);
    color: rgb(92, 45, 60);
    padding: 0.5rem;
    border-radius: 10%;
    margin-top: 5vh;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
    border:0cap;
    margin-bottom: 1vh;

}
#task-input:hover{
    cursor: pointer;
   
}

#task-input:active{
    transform: scale(0.98);
    
}

#task-input:focus{

    

    outline: 2px solid rgb(239, 143, 170);

}


#task-btn{

    background-color: rgb(226, 103, 143);
    color: rgb(255, 179, 247);

    padding: 0.5rem;
    
    border-radius: 7%;
    margin-top: 5vh;
    margin-bottom: 1vh;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
    font-family: Fredoka;
    border: 0cap;
    transition: 0.2;
     
}

li{

    padding: 0.5rem;
    min-width: 10rem;
    display: flex;
    border-radius: 10%;
    background-color: rgb(255, 218, 230);
    margin-top: 10px;
    justify-content: space-between;
    align-items: center;

    transition: 0.2s;


}

li:hover{

    transform: translateY(-3px) scale(1.01);
    background-color: rgb(255, 198, 216);



}
#task-btn:hover{

    background-color: rgb(193, 0, 180);

    cursor: pointer;

}
#task-btn:hover{
    transform: scale(1.01);
    background-color: rgb(202, 76, 119)


}

#task-btn:active{

    transform: scale(95%);
}


.completed{

    opacity: 0.5;
    text-decoration:line-through;

    transition: 0.3s;


}





